.lisa-foto {
    margin-top: 20px;
    margin-bottom: 20px;
}

.lisa-contact {
    margin: 40px 0px 10px 0px;
    font-size: 15px;
}

.info {
    margin-top: 3px;
    margin-bottom: 3px;
}

@media (max-width: 767.98px) {
    .lisa-foto {
        max-width: 300px;
        object-fit: cover;
    }
}