.container_datenschutz {
    background: white;
    display: flex;
    align-items: center;
}

.h5-datenschutz {
    font-size: 1rem;
}

.text-datenschutz {
    margin: 10px 0px 20px 0px;
    font-size: 0.85rem;
}

.headline-datenschutz {
    font-weight: 200;
    font-size: 30px;
    margin-bottom: 20px;
}

.liste-datenschutz {
    font-size: 0.85rem;
}