// Specific CSS for your home-page
html {
  box-sizing: border-box;
  background: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
  margin: 0px;
}

.container_index {
  background: white;
}
