// Specific CSS for your home-page
html {
    background: white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p {
    margin: 0px;
}

h1 {
    font-family: "Muli", "sans-serif";
    font-weight: 300;
    letter-spacing: 0.1em;
}