
<%= link_to picture_path(picture), class: "picture_link" do %>
  <div class="cards">
    <%= cl_image_tag(picture.photo.key) %>
    <div class='test'>
      <div class="card-category">
        <div>
          <h2><%= picture.name.upcase! %></h2>
          <p><%= picture.description %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>








