<footer class="footer">
  <p class="footer_login">LOGIN</p>
  <div class="copyright_section">
    <%= image_tag('copyright.png', alt: "copyright", id: "copyright")%>
    <p class="footer_name">Lisa Gratzke 2020</p>
  </div>
</footer>
