<footer class="footer">
  <div class="footer_links">
    <%= link_to "LOGIN", new_user_session_path, class: "footer_link"%>
    <% if current_user.nil? == false %>
    <%= link_to 'NEW', new_picture_path,  class: 'footer_link' %>
    <% end %>
    <%= link_to 'IMPRESSUM', impressum_path,  class: 'footer_link' %>
  </div>
  <div class="copyright_section">
    <%= image_tag('copyright.png', alt: "copyright", id: "copyright")%>
    <p class="footer_name">Lisa Gratzke 2021</p>
  </div>
</footer>
