 <%= render 'shared/header' %>
    <div class="container_impressum">
        <div class="content_impressum">
            <h1 class="headline-impressum">Contact</h1>
            <div id="lisa-content">
                <p class="lisa-contact-name">Lisa Gratzke</p>
                 <%= link_to image_tag('lisa_contact.png', alt: "lisa-gratzke", class: "lisa-foto")%>
                <p class="lisa-contact-email info">Masterstudium Kunst (M.A. Arts in Education), Osnabrück</p>
                <p class="lisa-contact-email info">Lebt und arbeitet in Berlin</p>
                <p class="lisa-contact">Print Bestellungen und Kontakt via </p>
                <p class="lisa-contact-email">l.gratzke@gmx.de</p>

            </div>
        </div>
    </div>
