<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datenschutz - Lisa Gratzke</title>
</head>
<body>
    <%= render 'shared/header' %>
    <div class="container_datenschutz">
        <div class="content_impressum">
            <h1 class="headline-datenschutz">Datenschutzerklärung</h1>
            <p class="text-datenschutz">Wir freuen uns sehr über Ihr Interesse an unserem Inhalt. Eine Nutzung der Internetseiten ist grundsätzlich ohne jede Angabe personenbezogener Daten möglich. Im Folgenden unterrichten wir die Besucher*innen unserer Internetseite, über den Umgang mit ihren personenbezogenen Daten. Personenbezogene Daten sind solche Daten, die direkt oder indirekt Rückschlüsse auf Ihre Identität zulassen. Damit erfüllen wir die Informationspflicht nach Art. 13 der Datenschutzgrundverordnung (DSGVO).</p>
            <h5 class="h5-datenschutz">Wir verarbeiten folgende personenbezogene Daten:</h5>
            <p class="text-datenschutz">Informationen, die Ihr Browser automatisch an uns übermittelt, in so genannten Server-Logfiles, darunter Browsertyp/Browserversion, verwendetes Betriebssystem, Referrer-URL, Hostname des zugreifenden Rechners und Uhrzeit der Serveranfrage. Die Rechtsgrundlage hierfür ist Art. 6 Abs. 1 Satz 1 lit. f DSGVO. Unser berechtigtes Interesse an der Datenverarbeitung folgt aus der Gewährleistung eines reibungslosen Verbindungsaufbaus und der komfortablen Nutzung unserer Internetseite sowie aus der Auswertung der Systemsicherung und -stabilität. Die genannten Daten verwenden wir nicht dazu, Rückschlüsse auf Ihre Person zu ziehen.</p>
            <h5 class="h5-datenschutz">Ihre Rechte</h5>
            <p class="text-datenschutz">Sie haben gegenüber uns folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:</p>
            <ul>
                <li class="liste-datenschutz">Recht auf Auskunft</li>
                <li class="liste-datenschutz">Recht auf Berichtigung oder Löschung</li>
                <li class="liste-datenschutz">Recht auf Einschränkung der Verarbeitung</li>
                <li class="liste-datenschutz">Recht auf Widerspruch gegen die Verarbeitung</li>
                <li class="liste-datenschutz">Recht auf Datenübertragbarkeit</li>
            </ul>
            <p class="text-datenschutz">Sie haben zudem das Recht, sich bei einer Datenschutz-Aufsichtsbehörde über die Verarbeitung Ihrer personenbezogenen Daten durch uns zu beschweren.</p>
            <h5 class="h5-datenschutz">Weitergabe an Dritte</h5>
            <p class="text-datenschutz">Wir übermitteln übermittelt keine Daten außerhalb des Anwendungsbereichs der Datenschutzgrundverordnung (DSGVO) sofern keine gesetzliche Pflicht zur Weitergabe besteht oder die Weitergabe der Strafverfolgung dient.</p>
            <h5 class="h5-datenschutz">Cookies</h5>
            <p class="text-datenschutz">Die Internetseiten verwenden teilweise sogenannte Cookies. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen.<br><br>Die von uns verwendeten Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs unseres Internetangebots automatisch gelöscht.<br><br>Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität von Internetseiten eingeschränkt sein.</p>
            <h5 class="h5-datenschutz">Externe Links</h5>
            <p class="text-datenschutz">Diese Website enthält Verknüpfungen zu Websites Dritter ("externe Links"). Diese Websites unterliegen der Haftung der jeweiligen Betreiber. Der Anbieter hat bei der erstmaligen Verknüpfung der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Der Anbieter hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich der Anbieter die hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht. Eine ständige Kontrolle der externen Links ist für den Anbieter ohne konkrete Hinweise auf Rechtsverstöße nicht zumutbar. Bei Kenntnis von Rechtsverstößen werden jedoch derartige externe Links unverzüglich gelöscht.</p>
            <h5 class="h5-datenschutz">Urheber- und Leistungsschutzrechte</h5>
            <p class="text-datenschutz">Die auf dieser Website veröffentlichten Inhalte unterliegen dem deutschen Urheber- und Leistungsschutzrecht. Jede vom deutschen Urheber- und Leistungsschutzrecht nicht zugelassene Verwertung bedarf der vorherigen schriftlichen Zustimmung des Anbieters oder jeweiligen Rechteinhabers. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Inhalten in Datenbanken oder anderen elektronischen Medien und Systemen. Inhalte und Rechte Dritter sind dabei als solche gekennzeichnet. Die unerlaubte Vervielfältigung oder Weitergabe einzelner Inhalte oder kompletter Seiten ist nicht gestattet und strafbar. Lediglich die Herstellung von Kopien und Downloads für den persönlichen, privaten und nicht kommerziellen Gebrauch ist erlaubt.</p>
            <h5 class="h5-datenschutz">Kontakt</h5>
            <p class="text-datenschutz">Wenn Sie allgemeine Fragen zu den Diensten oder den von uns über Sie erfassten Daten und deren Verwendung haben, kontaktieren Sie uns bitte unter: <br><br>Lisa Gratzke<br>l.gratzke@gmx.de</p>
            <h5 class="h5-datenschutz">Änderungen an dieser Datenschutzerklärung</h5>
            <p class="text-datenschutz">Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit mit Wirkung für die Zukunft zu ändern. Eine jeweils aktuelle Version ist an dieser Stelle verfügbar. Bitte suchen Sie die Website regelmäßig auf und informieren sich über die geltende Datenschutzerklärung.<br><br>Stand 02/2021</p>
        </div>
    </div>

</body>
</html>


