 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum - Lisa Gratzke</title>
</head>
<body>
 <%= render 'shared/header' %>
    <div class="container_impressum">
        <div class="content_impressum">
            <h1 class="headline-impressum">Impressum</h1>
            <div id="lisa-content">
                <p class="header-p">Verantwortlich für den <br> Seiteninhalt nach §55 II RStV</p>
                <p>Lisa Gratzke</p>
                <p>l.gratzke@gmx.de</p>
            </div>
             <div id="caro-content">
                <p class="header-p">Webdesign</p>
                <%= link_to "Carolin Wagner", "https://www.linkedin.com/in/carolin-wagner-333364a3/", id: "caro-link" %>
            </div>
        </div>
    </div>
</body>
</html>


