 <%= render 'shared/header' %>

<div class="flexbox">
  <div class="container-fluid">
    <div class="row">
      <% @pictures.each do |picture| %>
        <div class="col-xs-12 col-sm-6 col-lg-4 card-content">
          <%= render 'shared/card',picture: picture %>
        </div>
      <% end %>
    </div>
  </div>
</div>
