<!-- <div id="page-container"> -->
 <div id="content_wrap">
  <div class="name_index">
    <h1>LISA GRATZKE</h1>
  </div>

  <div class="description_index">
    <h2>PERSONAL ARTWORKS</h2>
  </div>
</div>
<!-- </div>
 -->
