<div class="container_index">
  <header class="navbar_index">
    <p class="about">ABOUT</p>
  </header>
  <div class="body_index">
    <div class="name_index">
      <h1>LISA GRATZKE</h1>
    </div>
    <div class="image_1">
    <%= link_to image_tag('image_1', id: "image1")%>
    </div>
    <div class="image_2">
    <%= link_to image_tag('image2', id: "image2")%>
    </div>
    <div class="image_3">
    <%= link_to image_tag('image3', id: "image3")%>
    </div>
    <div class="description_index">
      <h2>PERSONAL ARTWORKS</h2>
    </div>
  </div>
  <footer class="footer_index">
  </footer>
</div>
