<div class="container_index">
  <header class="navbar_index">
  </header>
  <div class="body_index">
    <div class="name_index">
      <h1>LISA GRATZKE</h1>
    </div>
    <div class="image_1">
    <%= link_to image_tag('image_1', class: "image1")%>
    </div>
    <div class="image_2">
      <img src="">
    </div>
    <div class="image_3">
      <img src="">
    </div>
    <div class="description_index">
      <h2>PERSONAL ARTWORKS</h2>
    </div>
  </div>
  <footer class="footer_index">
  </footer>
</div>
