 <%= render 'shared/header' %>
    <div class="container-show">
        <div class="content-show">
            <%= cl_image_tag(@picture.photo.key, crop: :fill, width: 500, class:"image-show") %>
            <div class="show-name-description">
                <h1 class="headline-show"><%= @picture.name %></h1>
                <p class="image-pictures-description"><%= @picture.description %></p>
            </div>
        </div>
    </div>

